<h1>Informacion sobre nuestros cursos!</h1>

<div class="card">
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Angular</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Angular es una plataforma y un framework para crear aplicaciones de
          una sola página en el lado del cliente usando HTML y TypeScript.
          Angular está escrito en TypeScript. Implementa la funcionalidad básica
          y opcional como un conjunto de bibliotecas TypeScript que importas en
          tus aplicaciones.
        </p>
        <h4>
          Dentro de nuestro menu vas a encontrar la seccion para inscribirte al
          curso
        </h4>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Javascript</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          JavaScript es un lenguaje de programación orientado a objetos, basado
          en prototipos y dinámico, es un lenguaje de programación que los
          desarrolladores utilizan para hacer páginas web interactivas. Desde
          actualizar fuentes de redes sociales a mostrar animaciones y mapas
          interactivos, las funciones de JavaScript pueden mejorar la
          experiencia del usuario de un sitio web.
        </p>
        <h4>
          Dentro de nuestro menu vas a encontrar la seccion para inscribirte al
          curso
        </h4>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>React</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          React es una biblioteca Javascript de código abierto diseñada para
          crear interfaces de usuario con el objetivo de facilitar el desarrollo
          de aplicaciones en una sola página. Las ventajas que ofrece: Los
          componentes de React agilizan la creación de una interfaz sensible a
          cualquier cambio en un sitio web o una aplicación de cualquier
          complejidad. Gracias al DOM virtual, la biblioteca ahorra recursos.
        </p>
        <h4>
          Dentro de nuestro menu vas a encontrar la seccion para inscribirte al
          curso
        </h4>
      </mat-card-content>
    </mat-card>
  </div>
</div>
